<html> 
<body> 
    <h2>Main Page</h2> 
 
    <p style="color:red">{{ status|safe }}</p> 
         
        <a href="pending/"><button>Pending Offers</button></a> 
        <a href="mypets/"><button>My Pets</button> </a> 
        <a href="register_pet/"><button>Register Pet</button> </a> 
        <a href="history/"><button>Transaction History</button> </a> 
        {% comment %} <a href="/"><button>Register job</button> </a>  {% endcomment %}
        <a href="sit_pet/"><button>Sit a Pet</button> </a> 
        {% comment %} <a href="/"><button>Leave Rating</button>  </a>  {% endcomment %}
</body> 
</html>