<html> 
<body> 
    <h2>Details for {{pendingusers.0}}</h2> 
    <a href="/">Back to home</a> 
    <br/><br/> 
    <table style='text-align:left'> 
        <tr> 
            <th>Username</th> 
            <td>:</td> 
            <td> {{ pendingusers.0 }} </td> 
        </tr> 
        <tr> 
            <th>Email</th> 
            <td>:</td> 
            <td> {{ pendingusers.1 }} </td> 
        </tr> 
        <tr> 
            <th>Phone Number</th> 
            <td>:</td> 
            <td> {{ pendingusers.2 }} </td> 
        </tr> 
        <tr> 
            <th>Years of Experience</th> 
            <td>:</td> 
            <td> {{ pendingusers.3 }} </td> 
        </tr> 
        {% comment %} <tr> 
            <th>Rating</th> 
            <td>:</td> 
            <td> {{ insert avg rating with query }} </td> 
        </tr>  {% endcomment %}
     
    </table> 
</body> 
</html>