<html>
<body>
    <h2>Details for {{allpet.0}}</h2>
    <a href="/main_page/">Back to home</a>
    <br/><br/>
    <table style='text-align:left'>
        <tr>
            <th>Pet ID</th>
            <td>:</td>
            <td> {{ allpet.7 }} </td>
        </tr>
        <tr>
            <th>Pet Name</th>
            <td>:</td>
            <td> {{ allpet.0 }} </td>
        </tr>
        <tr>
            <th>Pet Type</th>
            <td>:</td>
            <td> {{ allpet.1 }} </td>
        </tr>
        <tr>
            <th>Breed</th>
            <td>:</td>
            <td> {{ allpet.2 }} </td>
        </tr>
        <tr>
            <th>Date From</th>
            <td>:</td>
            <td> {{ allpet.3 }} </td>
        </tr>
        <tr>
            <th>Date To</th>
            <td>:</td>
            <td> {{ allpet.4 }} </td>
        </tr>
        <tr>
            <th> Location </th>
            <td>:</td>
            <td> {{ allpet.5 }} </td>
        </tr>
        <tr>
            <th> Price </th>
            <td>:</td>
            <td> {{ allpet.6 }} </td>
        </tr>
    
    </table>
</body>